<ModalDialog @translucentOverlay={{true}} @onClickOverlay={{this.onClose}}>

  <input
    id='input-modal'
    type='text'
    placeholder={{@task.description}}
    {{on 'input' (fn this.onPropertyChange 'description')}}
  />

  <div class='d-flex'>
    <button
      type='submit'
      class='btn btn-primary w-50 me-1'
      disabled={{this.shouldDisabledButton}}
    >
      <FaIcon @icon='check' type='button' {{on 'click' this.onSave}} />
    </button>

    <button type='button' class='btn btn-danger w-50 ms-1'>
      <FaIcon @icon='xmark' type='button' {{on 'click' this.onClose}} />
    </button>
  </div>

</ModalDialog>